
<div class="sidebar-widget mb-40">
    <div class="widget-title text-center">
        <h4 class="title mb-30">Tag Cloud</h4>
    </div>
    <div class="sidebar-tag">
        <ul>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">diy</a></li>
            <li><a href="#">music</a></li>
            <li><a href="#">lifestyle</a></li>
            <li><a href="#">northwest</a></li>
            <li><a href="#">recipe</a></li>
            <li><a href="#">facific</a></li>
            <li><a href="#">travel</a></li>
        </ul>
    </div>
</div>